@import "variables";

/* Google Font */
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");

/* =========================
   CSS Reset / Base
   ========================= */

@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: $font-family-base;
  font-size: $font-size-home;
  font-weight: $font-weight-light;
  line-height: 1.6;
  background-color: $grey-50;
  color: $grey-950;
}

html.dark body {
  background-color: $blue-950;
  color: $white;
}
.controls{
  display:flex;
  justify-content: space-between;
  padding: 2rem 4.25rem;
}
/* _globals.scss */

.countryGrid {
  display: grid;
  /* Use a much larger gap to match the Figma design (approx 75px) */
  gap: 70px; 
  
  /* This creates the responsive 4-column layout without needing media queries */
  grid-template-columns: repeat(auto-fill, minmax(264px, 1fr));
  
  padding: 40px 3rem;
  justify-items: center;
  width: 100%;
}

.container {
  // max-width: 1440px;
  // margin: 0 auto;
  // padding: 0 80px;
  
  /* Mobile adjustment for the container padding */
  @media (max-width: 768px) {
    padding: 0;
    .controls {
      display: flex;
      flex-direction: column;
      gap : 1rem;
    }
    .countryGrid{
      margin: 0 auto;
      
    }
  }
}